@use "../abstracts" as *;

/* Mission Section */
.mission-section {
  background: $color-white;
  text-align: left;
  padding: 40px 30px;

  .mission-title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-purple-dark;
    line-height: 1.3;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: -5px;
    display: block;
  }

  p {
    font-size: 1rem;
    color: $color-black;
    line-height: 1.8;
    opacity: 0.95;
  }
}

/* ===== Tablet ≥768px ===== */
@media screen and (min-width: 768px) {
  .mission-section {
    padding: 60px 35px;

    .mission-heading {
      text-align: left;

      .mission-title {
        font-size: 2.5rem;
        line-height: 1.3;
        white-space: normal;
      }
    }

    p {
      font-size: 1.1rem;
    }
  }
}

/* ===== Desktop ≥1200px ===== */
@media screen and (min-width: 1200px) {
  .mission-section {
    padding: 50px 50px;

    .mission-heading {

      .mission-title {
        font-size: 2.8rem;
        line-height: 1.25;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.9;
    }
  }
}
